extends layout

block content
  h1 Create Item Listing
  form(method="post")
    select(name="category")
      option(value=0) Choose Category
      option(value=1) First Person Shooter
      option(value=2) Racing
      option(value=3) Role Playing Game
    input(type="text" name="title" placeholder="Title")
    textarea(name="description")
    input(type="hidden" name="userID")
    input(type="text" name="price" placeholder="Price")
    input(type="text" name="image" placeholder="Image URL")
    button(type="submit") Create
  
  div(id="login-dialog" title="Login") Enter Details
    form(method="post")
      input(type="text" name="email" placeholder="example@mail.com")
      input(type="text" name="name" placeholder="Joe Blogs")
    
  script.
    $('#login-dialog').dialog({ 
      modal : true, autoOpen : true, 
      buttons : {
        "Login" : function () {
          $.ajax({'url':'/login',
            'type':'post',
            'data':{'email':$('#email').val(),'name':$('#name').val()}
          })
        $(this).dialog('close');
        },
        "Cancel" : function () {
          $(this).dialog('close');
        }
      }
    });
      
    
